@charset "utf-8";

*{
    box-sizing: border-box;
}

body{
    background-image: url("file:///C:/Users/1203y/profile/image.png");
    background-repeat: no-repeat; /*배경 이미지 반복 안함*/
    background-size: cover;     /*이미지 사이즈 화면 꽉차게*/
    margin: 0;
    padding: 0;
}

.logotext{
    height:30vh;    /*뷰포트의 높이값에 따라 바뀌는 vh*/
    display:flex;   /*수평 배치*/
    align-items: center; /*플렉스 요소의 수직 방향 정렬 방식*/
    justify-content: baseline; /*플렉스 요소의 수평 방향 정렬 방식*/
}

.text{
    height: 60vh;
    display: flex;
    flex-direction: column; /*플렉스 요소가 배치될 방향*/
    align-items: flex-start;
    justify-content: baseline;
}

.logotext h2{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'jejugothic', sans-serif;
    font-size: 6em;
    text-align: justify;
    color: rgb(119, 246, 243);
    z-index: 1;
    mix-blend-mode: overlay; /*배경 이미지에 따라 색이 바뀜*/
}

.text h4{
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    font-family: 'jejugothic', sans-serif;
    font-size: 2em;
    text-align: justify;
    color: rgb(119, 246, 243);
    z-index: 3;
    mix-blend-mode: overlay;
}

.li {
    line-height: 50%;
}

a{
    text-decoration: none;
}